venv/ 
__pycache__/ 
*.pyc 
*.pyo 
*.pyd 
.Python 
.env 
*.so 
build/ 
dist/ 
output/ 
*.egg-info/ 
*.egg 
*.exe 
*.pkg 
*.dll 
*.pth 
*.pkl 
*.pt 
*.bin 
*.onnx 
.vscode/ 
.idea/ 
*.swp 
*.log 
.DS_Store 
thumbs.db
